/* Entry > Grid */
.wpex-entry.wpex-style-grid {
	margin-bottom: 20px;

	.wpex-entry-categories {
		font-size: pem( 13 );
	}

	.wpex-entry-title {
		font-size: pem( 21 );
	    margin: 0;
	    padding: 2px 0;
	}

	.wpex-entry-content {
		margin-bottom: 15px;
	}

	.wpex-social-share {
		padding-top: 5px;
	}
	
}