/*--------------------------------------------------------------
# Grids
--------------------------------------------------------------*/
.wpex-row {
    margin: 0 -10px;
    overflow: hidden;

    .wpex-col, .wpex-col-nr {
        float: left;
        margin: 0 0 20px;
        padding: 0 10px;

        .rtl & {
            float: right;
        }

        img {
            vertical-align: bottom;
        }

    }

    .wpex-count-1 {
        clear: both;
    }

    .wpex-col-1 {
        width: 100%;
    }

    .wpex-col-2 {
        width: 50%;
    }

    .wpex-col-3 {
        width: 33.33%;
    }

    .wpex-col-4 {
        width: 25%;
    }

    .wpex-col-5 {
        width: 20%;
    }

    .wpex-col-6 {
        width: 16.66666667%;
    }

    .wpex-col-7 {
        width: 14.285%;
    }

    .wpex-col-8 {
        width: 12.5%;
    }

    .wpex-col-9 {
        width: 11.11%;
    }

    .wpex-col-10 {
        width: 10%;
    }

}

.wpex-row.wpex-gap-0px {
    margin: 0;

    .wpex-col, .wpex-col-nr {
        margin: 0;
        padding: 0;
    }

}

.wpex-row.wpex-gap-1 {
    margin: 0 -0.5px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 1px;
        padding: 0 0.5px;
    }

}
.wpex-row.wpex-gap-5 {
    margin: 0 -2.5px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 5px;
        padding: 0 2.5px;
    }

}

.wpex-row.wpex-gap-10 {
    margin: 0 -5px;

    .wpex-col, .wpex-col-nr {
        float: left;
        margin: 0 0 10px;
        padding: 0 5px;
    }

}

.wpex-row.wpex-gap-20 {
    margin: 0 -10px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 20px;
        padding: 0 10px;
    }

}

.wpex-row.wpex-gap-24 {
    margin: 0 -11px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 24px;
        padding: 0 11px;
    }

}

.wpex-row.wpex-gap-30 {
    margin: 0 -15px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 30px;
        padding: 0 15px;
    }

}

.wpex-row.wpex-gap-40 {
    margin: 0 -20px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 40px;
        padding: 0 20px;
    }

}

.wpex-row.wpex-gap-50 {
    margin: 0 -25px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 50px;
        padding: 0 25px;
    }

}

.wpex-row.wpex-gap-60 {
    margin: 0 -30px;

    .wpex-col, .wpex-col-nr {
        margin: 0 0 60px;
        padding: 0 30px;
    }

}
