/* Widgets > Social Profiles */
.wpex-social-profiles-widget {
	text-align: center;

	.wpex-site-footer & {
		text-align: left;
	}

	.desc {
	    margin-bottom: 20px
	}

	ul {
	    padding: 0;
	    border: 0;
	}

	li {
		display: inline-block;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    border: none;
	    padding: 0;
	    margin: 0 5px 5px;

	    // THEME SPECIFIC > Footer widget tweaks
	    .wpex-site-footer & {
	    	margin: 0 25px 10px 0;
	    }

	    // THEME SPECIFIC > Footer social tweaks
	    .wpex-social-footer-widgets & {
	    	margin: 0 15px 5px 0;
	    }


	}

	a {
		display: block;
		height: 30px;
		line-height: 30px;
		width: 30px;
		text-align: center;
		color: #fff;
		font-size: 12px;
		background: $accent__background-dark;
		@include border-radius( 50% );
		@include transition( all 0.15s );

		&:hover {
			@include opacity( 0.25 );
		}

		// THEME SPECIFIC > Footer widget tweaks
		.wpex-site-footer & {
			font-size: 16px;
			height: auto;
			width: auto;
			line-height: normal;
			background: none;
			color: #fff;
			@include opacity( 0.4 );
			&:hover {
				background: none;
				color: #fff;
				@include opacity( 1 );
			}
		}

		// THEME SPECIFIC > Footer social tweaks
		.wpex-social-footer-widgets & {
			font-size: 11px;
			height: auto;
			width: auto;
			line-height: normal;
			background: none;
			color: #fff;
			@include opacity( 0.8 );
			&:hover {
				background: none;
				color: $accent__color-red;
				@include opacity( 1 );
			}
		}

	}

}
