/* Widget Areas > Instagram Footer */
.wpex-instagram-footer-widgets {
	margin: 0;
	padding: 0;
	background: #171818;

	.widget-title {
		text-align: center;
		color: #fff;
		font-size: pem( 8 );
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		padding-top: pem( 15, 8 );
		margin: 0 0 pem( 15, 8 );
	}

	.widget_media_image {
		padding: 40px 20px;
		text-align: center;
		img {
			vertical-align: bottom;
		}
	}

}

