/* Modules > Social Colors */
.wpex-social-bg,
.wpex-social-hover-bg:hover {

    &.wpex-tripadvisor {
        background: #589442;
    }

    &.wpex-twitter {
        background: #00aced;
    }

    &.wpex-linkedin {
        background: #4875B4;
    }

    &.wpex-facebook {
        background: #3b5998;
    }

    &.wpex-pinterest {
        background: #cb2027;
    }

    &.wpex-googleplus,
    &.wpex-google-plus {
        background: #dd4b39;
    }

    &.wpex-dribbble {
        background: #ef5b93;
    }

    &.wpex-vk {
        background: #0CBADF;
    }

    &.wpex-skype {
        background: #12A5F4;
    }

    &.wpex-flickr {
        background: #FF0084;
    }

    &.wpex-tumblr {
        background: #2C4762;
    }

    &.wpex-youtube {
        background: #C4302B;
    }

    &.wpex-rss {
        background: #FF7900;
    }

    &.wpex-yelp {
        background: #AF0605;
    }

    &.wpex-vimeo {
        background: #1ab7ea;
    }

    &.wpex-phone-number {
        background: #3395FF;
    }

    &.wpex-email {
        background: #e24d03;
    }

    &.wpex-website {
        background: #000;
    }

    &.wpex-vine {
        background: #00b386;
    }

    &.wpex-xing {
        background: #026466;
    }

    &.wpex-trello {
        background: #0CBADF;
    }

    &.wpex-foursquare {
        background: #0CBADF;
    }

    &.wpex-github {
        background: #555;
    }

    &.wpex-renren {
        background: #2970ad;
    }

    &.wpex-instagram {
        background: #833ab4;
    }

}
