/* Responsive > Embeds */
iframe,
embed,
frame {
	max-width: 100%;
}

.wpex-responsive-embed {

	.wpex-site-main & {
		margin-bottom: $elements__bottom-margin;
	}

	iframe,
	embed,
	frame {
		display: none;
	}
}

.wpex-responsive-embed.wpex-show {
	iframe,
	embed,
	frame {
		display: block;
	}
}

.wpex-post-audio,
.wpex-loop-entry-audio {

	iframe, embed, frame {
		width: 100%;
	}

}